{% extends 'base.html' %}
{% block content %}
<!--<a href="/vehicle_setup">+ Add a New Vehicle</a><br>-->

<div class="container">
    <div class="row">
        <a href="/vehicle_setup"><button class="btn flex-grow-1 btn-primary" style="width: 100%">
           <i class="fas fa-plus-square"></i>  Add a New Vehicle</button></a>
    </div>
    <br>
    <div class="row">
        <div class="col">
           <form method="GET" action="/vehicles/select" id="select_form" >
                <select class="form-select" name="vehicle_id" id="vehicle_selection" multiple onchange="EnableButton()">
                    {% for vehicle in all_vehicles %}
                        <option value="{{ vehicle.vehicle_id }}">
                            {{ vehicle.vehicle_id }}
                            {{ vehicle.model_year }}
                            {{ vehicle.model }}
            <!--                {{ vehicle_model_id }}-->
                            {{ vehicle.vehicle_make }}
                            {{ vehicle.VIN }}
                            {{ vehicle.transmission_type }}
                            {{ vehicle.trim_notes }}
                        </option>
                    {% endfor %}
                </select>
                <br>
                <button disabled class='btn btn-primary btn-cbh' id='submitButton' type="submit">Select Vehicle</button>
            </form>
        </div>
    </div>

</div>

<script>
      $(document).ready(function(){
        let vs = document.getElementById('vehicle_selection')
        vs.style.height = (vs.childElementCount * 30).toString() + "px"
    });

    function EnableButton(){
        document.getElementById('submitButton').disabled = false
    }
</script>

{% endblock %}